<div data-controller="demo" class="container">
  <div class="row">
    <video data-target="demo.main" autoplay playsinline></video>
    <video data-target="demo.remote" autoplay playsinline></video>
  </div>
  <div class="row">
    <button data-action="demo#getUserMedia" class="btn btn-primary">Get Video</button>
    <button data-action="demo#joinRoom" class="btn btn-success">Join Room</button>
  </div>
</div>